.avatar{

    width: 80px;
}

.navbar .container-avatar,
.pub_image .container-avatar{

    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{

    height: 100%;
    width: 100%;
}

.pub_image{

    font-weight: bold;
    line-height: 35px;
    
}

.pub_image{

    margin-bottom: 2rem;
}

 .image_container img{

    height: 300px;
}

.likes img{

    width: 20px;
}

.enlaceImg{

    color: black;
}

.enlaceImg:hover{

    color: gray;
}

.nickname{

    color: gray;
}

 .comment p{

    margin-bottom: 0;
}

.numberLikes{

    color: gray;
    font-size: 15px; 
}

.btn-dislike,
.btn-like{

    cursor: pointer;
}